<h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Confirmar tu Cuenta</h1>
<p style="font-family: Arial, Helvetica, sans-serif;">Hola, estas a un paso de comenzar a crear una comunidad en Meeti, solo debes confirmar tu cuenta en el siguiente enlace:</p>
<a style="font-family: Arial, Helvetica, sans-serif; display: block; padding: 1rem; background-color: #00C897; color: white; text-transform: uppercase; text-align: center; text-decoration: none;" href="<%= url %>">Confirmar tu cuenta</a>
<p style="font-family: Arial, Helvetica, sans-serif;">Sino puede acceder a este enlace, vísita: <%= url %></p>
<p style="font-family: Arial, Helvetica, sans-serif;">Si no solicitaste este email puedes ignorarlo</p>